.form-control.score-conteiner {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }

  .score-conteiner svg {
     font-size: 1.6rem;
     cursor: pointer;
     transition: 0.3s;
  }

  .score-conteiner svg:hover {
    fill: #7076f4;
  }

  .score-conteiner input:checked ~ svg {
   fill: #7076f4;
  }

  .radio-conteiner{
    text-align: center;
    position: relative;
  }

  .radio-conteiner input {
    opacity: 0;
    position: absolute;
    top: 15px;
    left: 30px;
  }

  .radio-conteiner span {
    font-style: italic;
    font-weight: 300;
    font-size: 0.7rem;
    margin-top: 0.4rem;
    
  }
  